---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: data/curators
  label: Curators
  create: all
  match: "**/*"
  new_doc_ext: ".yaml"
- type: directory
  path: content/posts
  label: Blog Posts
  create: documents
  match: "*"
  new_doc_ext: md
  templates:
  - blog-post
- type: document
  path: content/sidebar.md
  label: Sidebar Information
upload_dir: research_report
public_path: ''
front_matter_path: https://res.cloudinary.com/portuguese-economic-journal/image/upload
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.75.1
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --disableFastRender
    -d public
version: 0.63.2
